.notes-list-container{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}


.note-container{ 
  display: flex;
  width: 30%;
  min-height: 200px;
  margin: 10px;
  font-size: 20px;
  background-color: yellow;
  padding: 10px;
  border-radius: 10px;
 
}