.notes-list-container{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: left;
}


.note-container{ 
  display: flex;
  flex-direction: column;
  width: 30%;
  min-height: 200px;
  margin: 10px;
  font-size: 20px;
  background-color: yellow;
  padding: 10px;
  border-radius: 10px;
 
}

.note-footer{
  display: flex;
  flex-direction: row;
  justify-content: space-between;

}

.note-container.new{
  background-color:aquamarine;
}

textarea{
  border: none;
  resize: none;
  background-color: aquamarine;
}

textarea:focus{
  outline: none;
}

button{
  border: none;
  background-color: white;
  border-radius: 15px;
  padding: 5px 10px 5px 10px;
}

button:hover{
  background-color: rgb(215, 215, 215);
  cursor: pointer;
}

.delete-icon{
  margin-left: 20px;
}

input{
  width: 90vw;
  margin: 10px;
  line-height: 30px;
  border-radius: 10px;
  transition: 0.7s ease;
 
}

input:hover{
  background-color: rgb(63, 57, 57);
  color:white;
}

.btn-toogle{
  border: 1px solid black;
  margin: 10px;
}

.darkMode{
  background-color: black;
  transition: 1s ease;

}

.darkMode h1{
  color: white;
}

*{
  transition: 1s ease;
}