.notes-list-container{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}


.note-container{ 
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 30%;
  min-height: 200px;
  margin: 10px;
  font-size: 20px;
  background-color: yellow;
  padding: 10px;
  border-radius: 10px;
 
}

.note-footer{
  display: flex;
  flex-direction: row;
  justify-content: space-between;

}

.delete-icon{
  margin-left: 20px;
}

input{
  width: 90vw;
  margin: 10px;
  line-height: 30px;
  border-radius: 10px;
  transition: 0.7s ease;
 
}

input:hover{
  background-color: rgb(63, 57, 57);
  color:white;
}